<!DOCTYPE html>
<html>
  <head>
    <title>{{ title|default('ResultsDB') }}</title>
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <!-- Bootstrap -->
      <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
      <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
  </head>

  <body>

    <div class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <span class="navbar-brand"><b>ResultsDB</b></span>
        </div>
        <div class="navbar-collapse collapse">

          <ul class="nav navbar-nav">
              <li><a href="{{ url_for('api_v2.get_groups') }}">Jobs</a></li>
              <li><a href="{{ url_for('api_v2.get_results') }}">Results</a></li>
              <li><a href="{{ url_for('api_v2.get_testcases') }}">Testcases</a></li>
          </ul>

<!--         <div class="navbar-right">
             <input type="button" class="btn btn-default navbar-btn" value="Search" onclick="location.href='';">
         </div> -->

        </div><!--/.nav-collapse -->
      </div><!--/.container -->
    </div><!--/.navbar -->

    <div class="container">

    {% for message in get_flashed_messages() %}
      <div class="alert alert-info">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        {{ message }}
      </div>
    {% endfor %}

    {% block body %}
       <h1> My First Flask Application! </h1>
    {% endblock %}

    </div>
   {% block footer %}
      <footer class="footer">
        <div class="container text-right">
          <p class="text-muted">Version: {{app_version}}</p>
        </div>
      </footer>
    {% endblock %}


    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="//code.jquery.com/jquery.js"></script>
    <!-- Include all compiled plugins -->
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>

    {% if config['FEDMENU_URL'] is defined %}
    <script src="{{ config['FEDMENU_URL'] }}/js/fedmenu.js"></script>
    <script>
      fedmenu({
        'url': '{{ config["FEDMENU_DATA_URL"] }}',
        'mimeType': 'application/javascript',
        'position': 'bottom-right',
      });
    </script>
    {% endif %}

  </body>
</html>
